body{
    background-color: cornflowerblue;
    color: crimson;
}
#bobobobobobobo{
    width: 80%;
}

.name-of-objects{
    color: midnightblue;
}

.dubdub{
    border: 2px solid crimson;
    width: 350px;
    height: 300
}